<link rel="stylesheet" href="/stylesheets/partials.css">
<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>Codeplay is a platform designed for creatives, gamers, and developers. Explore, learn, and create with us!</p>
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="comunidad">Community</a></li>
          <li><a href="juegos">Games</a></li>
          <li><a href="proyecto">Create</a></li>
          <li><a href="politica_privacidad">Privacy Policy</a></li>
          <li><a href="terminos_condiciones">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact Us</h4>
        <p>Email: playcode355@gmail.com</p>
        <p>Phone: +34 66677889</p>
        <p>Follow us on:</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61573103198364"><img src="images/facebook-icon.png" alt="Facebook"></a>
          <a href="https://x.com/play_code95169"><img src="images/twitter-icon.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/codeplay___/?hl=es"><img src="images/instagram-icon.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 CodePlay. All rights reserved.</p>
    </div>
</footer>
