<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/registro.css">
    <title>Register - Code-Play</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
</head>
<body>
  <%- include('partials/header') %>
  
  <form id="register-form" action="/users/register" method="POST">
      <h2>Register</h2>
      <div class="section">
        <div class="title">Username</div>
        <div class="field"><input type="text" id="username" name="username" required></div>
      </div>
      <div class="section">
        <div class="title">Password</div>
        <div class="field"><input type="password" id="password" name="password" required></div>
      </div>
      <div class="section">
        <div class="button"><input type="submit" value="Register User"></div>
        <br>
        <br>
        <p style="text-align: center;">Already have an account?</p>
        <div class="button"><a href="login">Log in</a></div>
      </div>
  </form>

  <script>
    const registerForm = document.getElementById('register-form');

    registerForm.addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevents default form submission

      const formData = new FormData(registerForm);
      const data = {
        username: formData.get('username'),
        password: formData.get('password'),
      };

      try {
        const response = await fetch(registerForm.action, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        });

        if (response.ok) {
          const result = await response.json();
          if (result.redirect) {
            window.location.href = result.redirect; // Redirect to login
          }
        } else {
          const errorMessage = await response.text();
          alert(`Error: ${errorMessage}`);
        }
      } catch (err) {
        console.error('Error during registration:', err);
        alert('Error during registration. Please try again.');
      }
    });
  </script>

<%- include('partials/footer') %>
</body>
</html>
