/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100px;
  }

  .header nav {
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
  }
  
  .nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #000080;
  }
  
  .logo img {
    width: 200px;
    height: 70px;
    object-fit: contain;
  }
  
  .buttons button {
    background-color: #001a57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .styled-button {
    background-color: #001a57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 200px; /* Tamaño uniforme para los botones */
    text-align: center;
  }
  
  .styled-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .button-container a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
  }
  
  